// --------------------------------------------------
// COLOR
// --------------------------------------------------

// Definitions:

$color-black					:	#000000;
$color-white					:	#ffffff;


// Assignments:

$color-text						:	$color-black;
$color-background				:	$color-white;





// --------------------------------------------------
// TYPOGRAPHY
// --------------------------------------------------

// Definitions:

$font-family-default			:	arial, sans-serif;

$font-size-small				:	12px;
$font-size-medium				:	16px;
$font-size-large				:	22px;

$font-weight-normal				:	normal;
$font-weight-bold				:	bold;


// Assignments:

%font-default {
	font-family					:	$font-family-default;
	font-size					:	$font-size-small;
	font-weight					:	$font-weight-normal;
}
%font-headline {
	font-family					:	$font-family-default;
	font-size					:	$font-size-large;
	font-weight					:	$font-weight-bold;
}





// --------------------------------------------------
// LAYOUT
// --------------------------------------------------

$page-margin					:	20px;

$page-width-mobile				:	320px;
$page-width-tablet				:	640px;
$page-width-desktop				:	960px;

$screen-width-mobile			:	$page-width-mobile - 2 * $page-width-mobile;
$screen-width-tablet			:	$page-width-tablet - 2 * $page-width-tablet;
$screen-width-desktop			:	$page-width-desktop - 2 * $page-width-desktop;





// --------------------------------------------------
// MIXINS
// --------------------------------------------------

@mixin placeholder-color($color: #000000) {
	&::-webkit-input-placeholder { color: $color; }
	&:-moz-placeholder { color: $color; }
	&::-moz-placeholder { color: $color; }
	&:-ms-input-placeholder { color: $color; }
}





// --------------------------------------------------
// MODULES
// --------------------------------------------------